{% extends "account/base.html.twig" %}

{% block inner_content %}
    <div class="container">
        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        {% if openid %}
            <p>
                <a href="{{ openid }}"
                   class="btn btn-secondary btn-open-id no-ajax-link">
                    {{ (openid_button_label|default('login_with_openid'))|trans -}}
                </a>
            </p>
            <hr>
        {% endif %}

        {% form_theme form 'account/forms.html.twig' %}
        {{ form_start(form, {attr: {id: 'sign-up-form', class: 'form'}}) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                <span class="label"><span class="label-text">{% trans %}user.sign_up.button{% endtrans %}</span></span>
            </button>
        </div>
        {{ form_end(form) }}
        <hr>
        <p>
            <a href="{{ path('themeSignInUser') }}"
               class="btn btn-secondary">
                {% trans %}already_have_account_sign_in{% endtrans %}
            </a>
        </p>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
